body{
    background-color: rgb(246, 255, 195);
}
footer{
    position: absolute;
    min-width: 100%;
    max-width: 100%;
    /* bottom: 0%; */
    left: 0%;
    /* padding: 10px; */
    background-color: rgb(174, 174, 174);
    color: rgb(53, 52, 52);
    font-size: medium;
    /* display: ; */
    justify-content:end;
    
    text-align: center;
    /* margin-left: 0px; */
}
.header{
    font-size: 250%;
    display: flex;
    justify-content: center;
    font-style:italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 20px;
    
    color: rgb(12, 57, 97);
}

.canvas {
    border-radius: 2%;
    border: 2px solid black;
    margin: auto;
    align-self: center;
    background-color: skyblue;
    max-width: 800px;
    height: 600px;
    display: flex;
    /* display: none; */
    /* justify-content: center; */
    position: relative;
    padding: 10px;
}

.bird{
    width:20px;
    height: 20px;
    background-color: rgb(12, 4, 248); 
    
    position: absolute;
    
    margin: auto;
    top: 280px;
    left: 300px;
}
.lower_obs{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    width: 50px;
    height: 150px;
    background-color: rgb(255, 225, 0);
    position: absolute;
    top: 450px;
    left: 800px;
}
.upper_obs{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 50px;
    height: 100px;
    background-color: brown;
    position: absolute;
    top: 0;
    left: 800px;
}
.upper_objects{
    display: flex;
    height: 350;
}
.lower_objects{
    display: flex;
    height: 350;
}
button{
    height:50px;
    min-width: 65px;
    width: fit-content;
    background-color:rgb(214, 209, 209);
    font-size: 100%;
    /* display: flex; */
    text-align: center;
    padding: 2px;
    margin: 2px;
    border: 4px double black;
}
button:hover{
    background-color: gray;
    border-radius: 20%;
    border-color: rgb(27, 149, 255);
    /* border: 2px solid; */
    color: chartreuse;

    margin-top: 1%;
    cursor: pointer;

}
.butttons_container{
    display: flex;
    justify-content: center;
    padding: 2px;
    padding-bottom: 10px;
    /* margin: auto; */
    /* left: 50%; */

}

.player_input_section{
    display: block;
    justify-content: center;
    padding: 10px;
    background-color: burlywood;
    width: 350px;
    min-height: fit-content;
    height: 70px;
    border-radius: 20px;
    margin: auto;
    
}
form{
    justify-self: center;
}
input{
    /* display: block; */
    padding: 2px;
    height: 50px;
    /* display: flex; */
    justify-content: center;
    border-radius: 15px;
    font-size: large;
    text-align: center;
    margin-bottom: 5px;
}
#form-submit{
    position: relative;
    margin-top: 5px;
    padding: 2px;
    justify-content: center;
    margin: auto;
    left: 55px;

    border-radius: 10px;
}